<div class="uk-flex uk-flex-between align-cart">
  <div>
    <h5 class="uk-margin-remove">Total: USD $149</h5>
  </div>
  <div>
    <a href="/pedido">
      <button class="uk-margin-remove uk-button uk-button-secondary uk-button-small uk-margin-top">Continuar</button>
    </a>
  </div>
</div>
<div id="productsInCart" class="uk-margin-top uk-child-width-1-4@m" uk-grid>
  <div id="{{id}}">
    <div class="uk-card uk-card-default">
      <div class="uk-card-body">
        <h3 class="uk-card-title">Red Dead Redemption 2</h3>
        <h5>MXN $149</h5>
        <span class="uk-badge">Xbox</span>
        <br>
        <button class="uk-button uk-button-secondary uk-button-small uk-margin-top">Eliminar</button>
      </div>
    </div>
  </div>
</div>