<div class="uk-padding-large uk-child-width-1-1" uk-grid>
  <h3>Resetea tu password</h3>
  <form action="" method="post">
    <div class="uk-margin">
      <div class="uk-inline">
        <span class="uk-form-icon" uk-icon="icon: user"></span>
        <input name="email" class="uk-input" type="text" aria-label="Not clickable icon">
      </div>
    </div>

    <div class="uk-margin">
      <div class="uk-inline">
        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
        <input name="password1" class="uk-input" type="password" aria-label="Not clickable icon" placeholder="Nueva contraseña">
      </div>
    </div>

    <div class="uk-margin">
      <div class="uk-inline">
        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
        <input name="password2" class="uk-input" type="password" aria-label="Not clickable icon" placeholder="Confirma Nueva contraseña">
      </div>
    </div>

    {{#if error}}
      <div class="uk-margin">
        <div class="uk-inline">
          <span class="uk-form-danger">{{error}}</span>
        </div>
      </div>
    {{/if}}
    

    <button class="uk-button uk-button-default">Reset</button>
  </form>
</div>