<div class="uk-padding-large uk-child-width-1-1" uk-grid>
  <h3>Inicia sesion</h3>
  <form action="" method="post">
    <div class="uk-margin">
      <div class="uk-inline">
        <span class="uk-form-icon" uk-icon="icon: user"></span>
        <input name="user" class="uk-input" type="text" aria-label="Not clickable icon">
      </div>
    </div>

    <div class="uk-margin">
      <div class="uk-inline">
        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
        <input name="password" class="uk-input" type="password" aria-label="Not clickable icon">
      </div>
    </div>

    <button class="uk-button uk-button-default">Entrar</button>
  </form>
</div>