<div class="uk-margin-top">

  <div id="orders" class="uk-child-width-1-4@m" uk-grid>
    <div>
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <h3 class="uk-card-title">asds</h3>
          <h5>USD 1</h5>
          <p>fdgfd</p>
        </div>
      </div>
    </div>

  </div>
</div>

<script src="/static/js/admin.js" />