<h2>Elige sabiamente</h2>
<div id="products" class="uk-child-width-1-4@m" uk-grid>
  {{#each products}}
  <div>
    <div class="uk-card uk-card-default">
      <div class="uk-card-media-top">
        <img alt="foto producto" />
      </div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">{{ this.title }}</h3>
        <h5>USD ${{ this.price }}</h5>
        <span class="uk-badge">Xbox</span>
        <p>{{ this.description }}</p>
        <button class="uk-button uk-button-secondary uk-button-small">Agregar al carrito</button>
      </div>
    </div>
  </div>
  {{/each}}
</div>