<div class="chat uk-flex-stretch uk-height-1-1 uk-margin-remove" uk-grid>
  <div id="messages" class="uk-child-width-1-1 uk-width-1-1 uk-padding-remove uk-margin-remove" uk-grid>
    {{!-- <div class="uk-width-1-1">
      <span class="uk-label">Mauricio [17:35]</span> <span class="uk-margin-left">text</span>
    </div>
    <div class="uk-width-1-1">
      <span class="uk-label">Mauricio [17:35]</span> <span class="uk-margin-left">text</span>
    </div>
    <div class="uk-width-1-1 uk-flex joined">
      <span class="uk-label uk-label-danger">Ramon se fue</span>
    </div>
    <div class="uk-width-1-1">
      <span class="uk-label">Mauricio [17:35]</span> <span class="uk-margin-left">text</span>
    </div>
    <div class="uk-width-1-1 uk-flex joined">
      <span class="uk-label uk-label-success">Laura se unio</span>
    </div>
    <div class="uk-width-1-1">
      <span class="uk-label">Mauricio [17:35]</span> <span class="uk-margin-left">text</span>
    </div>
    <div class="uk-width-1-1">
      <span class="uk-label">Mauricio [17:35]</span> <span class="uk-margin-left">text</span>
    </div>
    <div class="uk-width-1-1">
      <span class="uk-label">Mauricio [17:35]</span> <span class="uk-margin-left">text</span>
    </div>
    <div class="uk-width-1-1">
      <span class="uk-label">Mauricio [17:35]</span> <span class="uk-margin-left">text</span>
    </div>
    <div class="uk-width-1-1">
      <span class="uk-label">Mauricio [17:35]</span> <span class="uk-margin-left">text</span>
    </div>
    <div class="uk-width-1-1">
      <span class="uk-label">Mauricio [17:35]</span> <span class="uk-margin-left">text</span>
    </div>
    <div class="uk-width-1-1">
      <span class="uk-label">Mauricio [17:35]</span> <span class="uk-margin-left">text</span>
    </div>
    <div class="uk-width-1-1">
      <span class="uk-label">Mauricio [17:35]</span> <span class="uk-margin-left">text</span>
    </div>
    <div class="uk-width-1-1">
      <span class="uk-label">Mauricio [17:35]</span> <span class="uk-margin-left">text</span>
    </div>
    <div class="uk-width-1-1">
      <span class="uk-label">Mauricio [17:35]</span> <span class="uk-margin-left">text</span>
    </div> --}}
  </div>
  <div class="uk-child-width-1-1 uk-width-1-1 inputBox uk-padding-remove uk-margin-remove" uk-grid>
    <input class="uk-input" type="text" placeholder="" aria-label="Input">
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
<script src="/static/js/chat.js" defer></script>
<!-- includes de handlebars -->